/*Estilos generales para la maquetación y diseño del sitio principal*/
/*Color azul = rgb(29, 41, 57)
  Color verde = /*lighten rgb(42,197,108); darken rgb(23, 170, 86); darkener rgb(21, 98, 54)*/
@charset "UTF-8";
@font-face{
	font-family: roboto;
	src: url(../fonts/Roboto-Condensed.ttf);
}
a{
    text-decoration: none;
    color: rgb(0,0,0);
    outline: none;
}
.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list li{
    width: 100%;
    margin-bottom: 2px;
    padding: 0px;
}
body.main-layout{
    background: url('../img/login-background.jpg');
    font-family: roboto;
}
section.layout{
    position: fixed;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
}
aside.layout-menu{
    float: left;
    background: rgb(42,197,108);
    width: 20%;
    min-width: 260px;
}
/*Etiqueta ul anidada en nav*/
.side-menu{
    float: left;
    width: 100%;
}
.side-menu > li{
    background-color: rgb(42,197,108);
}
.side-menu > li > a{
    display: block;
    padding: 10px;
    padding-right: 0px;
    color: white;
    -webkit-transition: all .25s ease;
    -moz-transition:  all .25s  ease;
    transition:  all .25s  ease;
}
.side-menu > li > a:hover{
    color: rgb(29, 41, 57);
}
.active-menu{
    border-left: 4px solid rgb(29, 41, 57);
    color: rgb(29, 41, 57)!important;
}
.side-menu .left{
    text-align: center;
    width: 32px;
    height: 32px;
}
/*Etiquete img que contiene los iconos*/
.side-mnu-icon{
    float: left;
    width: 1.5em;
    height: 2em;
}
.side-mnu-text{
    margin: 0px;
    padding: 10px 5px;
    width: 69%;
    display: inline-block;
}
.submenu{
    display: none;
    background-color: rgb(255,255,255);
    padding: 10px 0px;
    box-shadow: inset 0px 15px 15px -15px black;
}
.submenu > li{
    color: rgb(29, 41, 57);
    box-sizing: border-box;
    padding: 10px 20px;
    transition: all .25s ease;
}
.submenu > li:hover{
    cursor: pointer;
    color: rgb(42,197,108)!important;
    border-left: 4px solid rgb(42,197,108);
}
.active-sm{
    color: white!important;
    border-left: 4px solid rgb(42,197,108);
    background-color: rgb(29, 41, 57);
}
.sm-text{
    display: inline;
    margin-left: 10px;
}
header.user{
    float: left;
    color: white;
    width: 100%;
    box-sizing: border-box;
    min-height: 60px;
    padding: 10px 10px;
    background-color: rgb(29, 41, 57);
    border-top: 4px solid transparent;
}
header.user:hover{
    cursor: pointer;
    color: white;
}
.active-header{
    height: auto;
    cursor: pointer;
    color: white;
    background-color: rgb(42,197,108);
    box-shadow: inset 0px -10px 15px -10px black;
}
#usr-photo{
    float: left;
    width: 60px;
    height: 60px;
    background-image: url('../img/male.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
}
#usr-name{
    float: left;
    height: 60px;
    width: 70%;
}
#usr-name > p{
    padding: 20px 0px 20px 10px;
    margin: 0px;
    width: 100%;
}
.user > .fa{
    float: right;
}
.usr-options{
    display: none;
    float: left;
    margin-top: 10px;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(42,197,108);
}
.usr-options .fa{
    transition: all .25s ease-out;
    color: rgb(42,197,108);
}
.usr-options a{
    color: inherit;
    padding: 10px 5px;
    display: block;
    transition: all .35s ease;
}
.usr-options a:hover{
    cursor: pointer;
    background-color: rgba(42,197,108,0.8);
}
.usr-options a:hover .fa{
    color: rgb(29, 41, 57);
}
.usr-options a p{
    margin-left: 5px;
    display: inline;
}
.content{
    text-align: center;
    width: 100%;
    text-align: center;
}