/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-ago-2015, 19:43:19
    Author     : Juan-Buitrago
*/
@font-face{
	font-family: roboto;
	src: url(../fonts/Roboto-Condensed.ttf);
}
body{
    background-color:appworkspace;
    margin: auto;
}
.logo{
    background-image:url(../img/Logo_mesa_ayuda.png);
    margin: auto;
    background-repeat: no-repeat;
    width: 600px;
    height: 110px;
}
.menu nav ul{
    background-color: cadetblue;
    height: 50px;
    text-align: center;
}
.menu nav ul li {
    display: inline;
    float: left;
    padding: 4px;
}
.menu nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
        
}
.menu nav ul li a:hover{
    background-color: aqua;
}

.content{
    margin: auto;
    background-color: aliceblue;
    width: 800px;
    height: 600px;
    text-align: center;
}


