@charset "UTF-8";
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Condensed.ttf);
}
#login-body{
    background: rgb(29, 41, 57) url('/HelpDesk/view/img/polyw.jpg') left top fixed;
    background-size: cover;
    font-family: roboto,Helvetica, sans-serif;
}
#bgcolor{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 30%, rgba(29, 41, 57,0.1) 50%, rgb(29, 41, 57) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 30%, rgba(29, 41, 57,0.1) 50%, rgb(29, 41, 57) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 30%, rgba(29, 41, 57,0.1) 50%, rgb(29, 41, 57) 100%);
    padding-top: 20px;
    left: 0; right: 0;
    overflow: auto;
    position: fixed;
    top: 0; bottom: 0;
}
#frm-login{
    color: white;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8)!important;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
       -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
            box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.frm-login-heading{
    background-color: rgba(45, 249, 133, 0.5);
    border-bottom: 4px solid rgba(0,0,0,0.3);
    color: white;
    font-size: xx-large;
    letter-spacing: 2px;
    margin: 0px;
    padding: 1.2em;
    text-align: center;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.txtBox{
    background-color: rgba(255,255,255,0.05);
    width: 90%;
    height: 80px;
    margin: 2px auto;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
            transition: all .5s ease;
}
.td-alert{
    padding: 0px!important;
    height: 60px;
}
.td, .td-fa{
    padding: 0px!important;
    height: inherit;
}
.td-fa{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
            transition: all .5s ease;
}
.txt-login{
    background: none;
    border: none;
    color: white;
    font-size: 150%;
    padding: 30px 0px;
    height: inherit;
    outline: none!important;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none!important;
}
.active-fa{
    -webkit-box-shadow: inset 90px 0px rgba(23, 170, 86,0.8);
       -moz-box-shadow: inset 90px 0px rgba(23, 170, 86,0.8);
            box-shadow: inset 90px 0px rgba(23, 170, 86,0.8);
}
.txtBox .fa{
    padding: 15px 0px;
}
.btn-container{
    height: 100px;
    padding: 60px 0px 0px 0px!important;;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}
#btn-login{
    background-color: rgb(23, 170, 86);
    width: 90%;
    margin: auto;
    border: none;
    color: white;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 25px 80px;
    outline: none!important;
    -webkit-box-shadow: 0px 6px #097347;
       -moz-box-shadow: 0px 6px #097347;
            box-shadow: 0px 6px #097347;
}
#btn-login:hover, #btn-login:focus{
    cursor: pointer;
    margin-top: 2px;
    -webkit-box-shadow: 0px 4px #097347;
       -moz-box-shadow: 0px 4px #097347;
            box-shadow: 0px 4px #097347;
}
#btn-login:active{
    box-shadow: none;
    margin-top: 6px;
    text-shadow: 0px 2px #097347;
}
.alert{
    display: none;
}
.popover{
    font-family: Roboto;
    color: black;
    width: 150px;
}
.popover .fa{
    color: red;
}
.login-success{
    background-color: rgba(23, 170, 86,0.1);
}
.login-fail{
    background-color: rgba(224, 25, 49,0.3);
}

:-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; } 
::-moz-placeholder { color: white; } 
::-webkit-input-placeholder { color: white; }
