@charset "UTF-8";
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Condensed.ttf);
}
body{
    background: url('../img/login-background.jpg');
    font-family: roboto,Helvetica, sans-serif;
}
section{
    background: -moz-linear-gradient(rgba(255,255,255,0.8), rgb(23, 170, 86));
    background: -o-linear-gradient(rgba(255,255,255,0.8), rgb(23, 170, 86));
    background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgb(23, 170, 86));
    background: linear-gradient(rgba(255,255,255,0.8), rgb(23, 170, 86));
    left: 0; right: 0;
    overflow: auto;
    position: fixed;
    top: 0; bottom: 0;
}
article{
    background: rgba(0,0,0,0.6);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    height: 100%;
    margin: auto;
    min-height: 650px;
    width: 35em;
}
article > h1{
    background-color: rgba(45, 249, 133, 0.5);
    border-bottom: 4px solid rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    color: white;
    display: block;
    font-size: 200%;
    letter-spacing: 2px;
    margin: 0px;
    padding: 1.2em 0px;
    text-align: center;
}
article > form{
    border-top: 4px solid rgba(45, 249, 133, 0.5);
    color: white;
    padding-top: 5em;
    text-align: center;
}
.txtBox{
    background-color: rgba(255,255,255,0.1);
    transition: .25s ease;
    width: 80%;
}
.txt-login{
    background: none;
    border: none;
    color: white;
    font-size: 150%;
    outline: 0;
    padding: 30px 0px;
    width: 78%;
}
.active-fa{
    box-shadow: inset 85px 0px rgba(23, 170, 86,0.8);
}
.txtBox > .fa{
    float: left;
    height: inherit;
    padding: 20px 0px;
    transition: .3s linear;
    width: 20%;
}
#btn-td{
    padding-top: 5em;
}
#btn-login{
    background-color: rgb(23, 170, 86);    
    border-radius: 2px 2px 5px 5px;
    border: none;
    box-shadow: 0px 8px #097347;
    color: white;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    padding: 25px 80px;
    text-transform: uppercase;
    width: 80%;
}
#btn-login:hover, #btn-login:focus{
    box-shadow: 0px 6px #097347;
    cursor: pointer;
    margin-top: 2px;
}
#btn-login:active{
    box-shadow: none;
    margin-top: 7px;
    text-shadow: 0px 2px #097347;
}
:-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; } 
::-moz-placeholder { color: white; } 
::-webkit-input-placeholder { color: white; }
