.contenedorFormulario{
    max-width: 600px;
}

.form-centered{
   text-align: center;
}

.datepicker {
    background-color: #fff!important;
    border: none!important;
}

.input-group-addon {
    background-color: #151F35;
    color: #fff;
}