.datepicker {
    background-color: #fff!important;
}
.input-group-addon {
    min-width: 100px;
}
.btn-custom-primary {
    background-color: #151F35;
    color: #ffffff;
}
.btn-custom-primary:hover, .btn-custom-primary:focus {
    background-color: #010C24;
    color: #ffffff;
}